In [1]:
import pandas as pd
import numpy as np
import psycopg2
from sqlalchemy import create_engine
import config

In [2]:
# Create a connection
conn = psycopg2.connect(
    host=config.host,
    port=config.port,
    dbname=config.dbname,
    user=config.user,
    password=config.password
)
# Create a cursor object
cur = conn.cursor()

In [3]:
engine = create_engine(f'postgresql+psycopg2://{config.user}:{config.password}@{config.host}:{config.port}/{config.dbname}')

In [14]:
df = pd.read_sql_query('SELECT * FROM trips', con=engine)

In [25]:
df.head(15)

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,000AC620FBE17FDF,classic_bike,2023-03-27 08:11:49,2023-03-27 08:16:32,2 Ave & E 122 St,7622.12,W 111 St & 5 Ave,7587.16,40.800661,-73.934929,40.797520,-73.948939,member
1,000E4EFD90D2F381,classic_bike,2023-03-30 16:24:04,2023-03-30 16:26:23,30 St & 48 Ave,6076.02,47 Ave & Skillman Ave,6237.01,40.741327,-73.937999,40.743752,-73.941764,member
2,000FA514F5399724,classic_bike,2023-03-05 12:16:07,2023-03-05 12:22:00,5 Ave & E 29 St,6248.06,W 13 St & 5 Ave,5947.04,40.745167,-73.986830,40.735445,-73.994310,member
3,0016859A2B067DD3,classic_bike,2023-03-03 11:16:25,2023-03-03 11:17:12,5 Ave & E 63 St,6904.06,5 Ave & E 63 St,6904.06,40.766368,-73.971518,40.766368,-73.971518,casual
4,001F047AA8074A86,classic_bike,2023-03-30 17:29:06,2023-03-30 17:41:54,E 43 St & Madison Ave,6551.11,W 22 St & 8 Ave,6224.03,40.753546,-73.978965,40.744751,-73.999153,member
5,00223A1B18DAE98E,classic_bike,2023-03-09 15:02:32,2023-03-09 15:09:52,New York Ave & Hawthorne St,3504.02,Eastern Pkwy & Troy Ave,3862.07,40.657726,-73.947486,40.669290,-73.936790,member
6,0022E8494016CF17,classic_bike,2023-03-07 18:11:11,2023-03-07 18:17:52,McKibbin St & Manhattan Ave,4996.08,Graham Ave & Conselyea St,5291.05,40.705109,-73.944072,40.715143,-73.944507,member
7,00304EFC3104BD09,classic_bike,2023-03-08 15:46:10,2023-03-08 15:46:52,West End Ave & W 107 St,7650.05,West End Ave & W 107 St,7650.05,40.802192,-73.968115,40.802117,-73.968180,member
8,00306F7BA3A36ADF,classic_bike,2023-03-11 16:56:59,2023-03-11 17:03:06,E 56 St & 3 Ave,6691.11,W 55 St & 6 Ave,6809.09,40.759393,-73.967585,40.763189,-73.978434,member
9,003614BC584DF537,classic_bike,2023-03-14 06:37:59,2023-03-14 06:55:27,E 4 St & 2 Ave,5593.04,W 54 St & 11 Ave,6955.05,40.726404,-73.990025,40.768333,-73.992573,member
10,00369DDE40CDB794,electric_bike,2023-03-08 00:51:29,2023-03-08 01:00:44,E 5 St & Avenue C,5545.04,E 5 St & Avenue C,5545.04,40.722992,-73.979954,40.722992,-73.979954,member
11,003EB0BA36D034A1,classic_bike,2023-03-23 12:02:24,2023-03-23 12:20:35,Wyckoff Ave & Gates Ave,4847.03,Kent Ave & N 7 St,5489.03,40.699832,-73.911623,40.720367,-73.961650,casual
12,0042DD3BC625F264,classic_bike,2023-03-07 13:50:32,2023-03-07 13:55:24,Broadway & W 25 St,6173.08,W 26 St & 8 Ave,6297.02,40.742868,-73.989186,40.747348,-73.997235,member
13,0047160BEBCD1B9F,classic_bike,2023-03-22 18:38:55,2023-03-22 18:42:55,E 20 St & 2 Ave,5971.08,St Marks Pl & 2 Ave,5669.10,40.735876,-73.982050,40.728418,-73.987139,member
14,0047441267186435,classic_bike,2023-03-12 20:21:51,2023-03-12 20:45:07,St Johns Pl & Washington Ave,4001.09,Albee Square W & Fulton St,4556.08,40.673723,-73.963161,40.690687,-73.983478,member

In [16]:
df.shape

(2194214, 13)

In [18]:
df.ride_id.value_counts()

000AC620FBE17FDF    1
B60166FD5188B3FF    1
B645EBEEE99E95E5    1
B6451C4149816E45    1
B63DBE53BAB20F27    1
                   ..
502827F192D0E0BC    1
5024864BD1F062F7    1
501D7A8C25054CDA    1
501C29D715964D9D    1
FFF8FE9FB05BB96C    1
Name: ride_id, Length: 2194214, dtype: int64

In [19]:
df.isna().sum()

ride_id                  0
rideable_type            0
started_at               0
ended_at                 0
start_station_name     190
start_station_id       190
end_station_name      5794
end_station_id        5794
start_lat                0
start_lng                0
end_lat               1481
end_lng               1481
member_casual            0
dtype: int64

In [30]:
df2 = pd.read_sql_query('SELECT * FROM station_information', con=engine)

In [31]:
df2.shape

(1866, 14)

In [32]:
df2

,external_id,station_id,electric_bike_surcharge_waiver,short_name,eightd_has_key_dispenser,name,lat,region_id,lon,capacity,has_kiosk,station_type,rental_methods,legacy_id
0,66de19ab-0aca-11e7-82f6-3863bb44ef7c,66de19ab-0aca-11e7-82f6-3863bb44ef7c,False,3865.05,False,3 St & Prospect Park West,40.668132,71,-73.973638,31,True,classic,"KEY,CREDITCARD",3354
1,66dd26f9-0aca-11e7-82f6-3863bb44ef7c,66dd26f9-0aca-11e7-82f6-3863bb44ef7c,False,6361.03,False,9 St & 44 Rd,40.749660,71,-73.952100,34,True,classic,"KEY,CREDITCARD",3127
2,66dd3e14-0aca-11e7-82f6-3863bb44ef7c,66dd3e14-0aca-11e7-82f6-3863bb44ef7c,False,6801.01,False,E 59 St & Madison Ave,40.763505,71,-73.971092,51,True,classic,"KEY,CREDITCARD",3132
3,0dd71c6d-11ee-4ad4-ba99-36b9ad36112c,0dd71c6d-11ee-4ad4-ba99-36b9ad36112c,False,4023.01,False,St Marks Ave & Thomas S. Boyland St,40.673130,71,-73.913870,21,True,classic,"KEY,CREDITCARD",4942
4,bc9c9006-3d40-400d-8b5c-17f56e6dfcee,bc9c9006-3d40-400d-8b5c-17f56e6dfcee,False,8172.07,False,Amsterdam Ave & W 162 St,40.836180,71,-73.939789,27,True,classic,"KEY,CREDITCARD",4052
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1861,519824e4-69ba-4270-a395-17c204f328f8,519824e4-69ba-4270-a395-17c204f328f8,False,HB603,False,8 St & Washington St,40.745984,311,-74.028199,21,True,classic,"KEY,CREDITCARD",4528
1862,cbc48689-7805-49dd-9669-5471f4b7b6fb,cbc48689-7805-49dd-9669-5471f4b7b6fb,False,HB101,False,Hoboken Terminal - Hudson St & Hudson Pl,40.735938,311,-74.030305,24,True,classic,"KEY,CREDITCARD",4536
1863,66dddd28-0aca-11e7-82f6-3863bb44ef7c,66dddd28-0aca-11e7-82f6-3863bb44ef7c,False,JC084,False,Communipaw & Berry Lane,40.714358,70,-74.066611,14,True,classic,"KEY,CREDITCARD",3277
1864,b6a13f2b-deb4-4f4d-9d67-7d23bee27c88,b6a13f2b-deb4-4f4d-9d67-7d23bee27c88,False,HB608,False,2 St & Park Ave,40.739153,311,-74.033082,15,True,classic,"KEY,CREDITCARD",5064
1865,5aa81a37-ea1d-4bf6-ab40-4751c6b4fb08,5aa81a37-ea1d-4bf6-ab40-4751c6b4fb08,False,JC093,False,Fairmount Ave,40.725726,70,-74.071959,18,True,classic,"KEY,CREDITCARD",3678

In [33]:
df2.drop_duplicates().shape

(1866, 14)

In [34]:
df2.isna().sum()

external_id                       0
station_id                        0
electric_bike_surcharge_waiver    0
short_name                        0
eightd_has_key_dispenser          0
name                              0
lat                               0
region_id                         0
lon                               0
capacity                          0
has_kiosk                         0
station_type                      0
rental_methods                    0
legacy_id                         0
dtype: int64

In [35]:
df2.columns

Index(['external_id', 'station_id', 'electric_bike_surcharge_waiver',
       'short_name', 'eightd_has_key_dispenser', 'name', 'lat', 'region_id',
       'lon', 'capacity', 'has_kiosk', 'station_type', 'rental_methods',
       'legacy_id'],
      dtype='object')

In [36]:
df.columns

Index(['ride_id', 'rideable_type', 'started_at', 'ended_at',
       'start_station_name', 'start_station_id', 'end_station_name',
       'end_station_id', 'start_lat', 'start_lng', 'end_lat', 'end_lng',
       'member_casual'],
      dtype='object')

In [38]:
df

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,000AC620FBE17FDF,classic_bike,2023-03-27 08:11:49,2023-03-27 08:16:32,2 Ave & E 122 St,7622.12,W 111 St & 5 Ave,7587.16,40.800661,-73.934929,40.797520,-73.948939,member
1,000E4EFD90D2F381,classic_bike,2023-03-30 16:24:04,2023-03-30 16:26:23,30 St & 48 Ave,6076.02,47 Ave & Skillman Ave,6237.01,40.741327,-73.937999,40.743752,-73.941764,member
2,000FA514F5399724,classic_bike,2023-03-05 12:16:07,2023-03-05 12:22:00,5 Ave & E 29 St,6248.06,W 13 St & 5 Ave,5947.04,40.745167,-73.986830,40.735445,-73.994310,member
3,0016859A2B067DD3,classic_bike,2023-03-03 11:16:25,2023-03-03 11:17:12,5 Ave & E 63 St,6904.06,5 Ave & E 63 St,6904.06,40.766368,-73.971518,40.766368,-73.971518,casual
4,001F047AA8074A86,classic_bike,2023-03-30 17:29:06,2023-03-30 17:41:54,E 43 St & Madison Ave,6551.11,W 22 St & 8 Ave,6224.03,40.753546,-73.978965,40.744751,-73.999153,member
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2194209,FFDC3D0C8C1F1601,classic_bike,2023-03-08 08:07:40,2023-03-08 08:15:15,Clinton St & Union St,4266.03,Montague St & Clinton St,4677.06,40.683116,-73.997852,40.694271,-73.992327,member
2194210,FFDD0ECFD80B6464,electric_bike,2023-03-24 03:06:11,2023-03-24 03:12:15,Canal St & Rutgers St,5303.08,Peck Slip & South St,5096.12,40.714274,-73.989900,40.707518,-74.001080,casual
2194211,FFF18A9BE822C86C,electric_bike,2023-03-18 11:31:23,2023-03-18 11:44:33,University Pl & E 14 St,5905.14,W 44 St & 5 Ave,6551.02,40.734814,-73.992085,40.755002,-73.980144,member
2194212,FFF3143A285B9F81,classic_bike,2023-03-05 17:22:55,2023-03-05 17:26:32,Avenue D & E 3 St,5436.09,E 7 St & Ave B,5584.05,40.720828,-73.977931,40.725128,-73.981316,member
2194213,FFF8FE9FB05BB96C,classic_bike,2023-03-18 10:53:50,2023-03-18 10:58:17,7 Ave & Park Pl,4125.07,6 St & 7 Ave,3834.10,40.677525,-73.973307,40.668662,-73.979880,casual

In [37]:
df2.

,external_id,station_id,electric_bike_surcharge_waiver,short_name,eightd_has_key_dispenser,name,lat,region_id,lon,capacity,has_kiosk,station_type,rental_methods,legacy_id
0,66de19ab-0aca-11e7-82f6-3863bb44ef7c,66de19ab-0aca-11e7-82f6-3863bb44ef7c,False,3865.05,False,3 St & Prospect Park West,40.668132,71,-73.973638,31,True,classic,"KEY,CREDITCARD",3354
1,66dd26f9-0aca-11e7-82f6-3863bb44ef7c,66dd26f9-0aca-11e7-82f6-3863bb44ef7c,False,6361.03,False,9 St & 44 Rd,40.749660,71,-73.952100,34,True,classic,"KEY,CREDITCARD",3127
2,66dd3e14-0aca-11e7-82f6-3863bb44ef7c,66dd3e14-0aca-11e7-82f6-3863bb44ef7c,False,6801.01,False,E 59 St & Madison Ave,40.763505,71,-73.971092,51,True,classic,"KEY,CREDITCARD",3132
3,0dd71c6d-11ee-4ad4-ba99-36b9ad36112c,0dd71c6d-11ee-4ad4-ba99-36b9ad36112c,False,4023.01,False,St Marks Ave & Thomas S. Boyland St,40.673130,71,-73.913870,21,True,classic,"KEY,CREDITCARD",4942
4,bc9c9006-3d40-400d-8b5c-17f56e6dfcee,bc9c9006-3d40-400d-8b5c-17f56e6dfcee,False,8172.07,False,Amsterdam Ave & W 162 St,40.836180,71,-73.939789,27,True,classic,"KEY,CREDITCARD",4052
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1861,519824e4-69ba-4270-a395-17c204f328f8,519824e4-69ba-4270-a395-17c204f328f8,False,HB603,False,8 St & Washington St,40.745984,311,-74.028199,21,True,classic,"KEY,CREDITCARD",4528
1862,cbc48689-7805-49dd-9669-5471f4b7b6fb,cbc48689-7805-49dd-9669-5471f4b7b6fb,False,HB101,False,Hoboken Terminal - Hudson St & Hudson Pl,40.735938,311,-74.030305,24,True,classic,"KEY,CREDITCARD",4536
1863,66dddd28-0aca-11e7-82f6-3863bb44ef7c,66dddd28-0aca-11e7-82f6-3863bb44ef7c,False,JC084,False,Communipaw & Berry Lane,40.714358,70,-74.066611,14,True,classic,"KEY,CREDITCARD",3277
1864,b6a13f2b-deb4-4f4d-9d67-7d23bee27c88,b6a13f2b-deb4-4f4d-9d67-7d23bee27c88,False,HB608,False,2 St & Park Ave,40.739153,311,-74.033082,15,True,classic,"KEY,CREDITCARD",5064
1865,5aa81a37-ea1d-4bf6-ab40-4751c6b4fb08,5aa81a37-ea1d-4bf6-ab40-4751c6b4fb08,False,JC093,False,Fairmount Ave,40.725726,70,-74.071959,18,True,classic,"KEY,CREDITCARD",3678

In [4]:
bike_trip_facts = pd.read_sql_query('SELECT * FROM biketrips_fact', con=engine)

In [9]:
bike_trip_facts.head()

,trip_id,date_id,start_station_id,end_station_id,started_at,ended_at,start_lat,start_lng,end_lat,end_lng,member_casual
0,0004E44D48763B0A,20230323,5442.05,5235.05,2023-03-23 20:11:29,2023-03-23 20:20:44,40.719155,-73.948853,40.712604,-73.962644,member
1,0006E43813497C0A,20230302,4700.06,5489.03,2023-03-02 17:18:46,2023-03-02 17:33:01,40.696075,-73.978014,40.720367,-73.961650,casual
2,00085B799B264179,20230321,5430.08,4748.07,2023-03-21 18:30:17,2023-03-21 18:45:41,40.719115,-74.006666,40.696232,-73.991420,casual
3,00101FB18EF7DF09,20230329,5303.06,5303.08,2023-03-29 20:29:01,2023-03-29 20:31:34,40.715595,-73.987029,40.714274,-73.989900,member
4,0010A66E9AB7400A,20230312,4507.07,4441.06,2023-03-12 22:19:14,2023-03-12 22:24:19,40.689245,-73.905416,40.686630,-73.916800,member

In [6]:
bike_trip_facts.shape

(2194214, 11)

In [7]:
bike_trip_facts.drop_duplicates().shape

(2194214, 11)

In [8]:
bike_trip_facts.isna().sum()

trip_id                0
date_id                0
start_station_id     190
end_station_id      5794
started_at             0
ended_at               0
start_lat              0
start_lng              0
end_lat             1481
end_lng             1481
member_casual          0
dtype: int64

In [26]:
date_dim = pd.read_sql_query('SELECT * FROM date_dimension', con=engine)

In [27]:
date_dim

     date_id        date  day  month  year  weekday
0   20230328  2023-03-28   28      3  2023        2
1   20230311  2023-03-11   11      3  2023        6
2   20230305  2023-03-05    5      3  2023        0
3   20230314  2023-03-14   14      3  2023        2
4   20230302  2023-03-02    2      3  2023        4
5   20230317  2023-03-17   17      3  2023        5
6   20230321  2023-03-21   21      3  2023        2
7   20230316  2023-03-16   16      3  2023        4
8   20230312  2023-03-12   12      3  2023        0
9   20230308  2023-03-08    8      3  2023        3
10  20230326  2023-03-26   26      3  2023        0
11  20230313  2023-03-13   13      3  2023        1
12  20230325  2023-03-25   25      3  2023        6
13  20230306  2023-03-06    6      3  2023        1
14  20230330  2023-03-30   30      3  2023        4
15  20230309  2023-03-09    9      3  2023        4
16  20230329  2023-03-29   29      3  2023        3
17  20230324  2023-03-24   24      3  2023        5
18  20230315  2023-03-15   15      3  2023        3
19  20230310  2023-03-10   10      3  2023        5
20  20230303  2023-03-03    3      3  2023        5
21  20230304  2023-03-04    4      3  2023        6
22  20230327  2023-03-27   27      3  2023        1
23  20230301  2023-03-01    1      3  2023        3
24  20230307  2023-03-07    7      3  2023        2
25  20230331  2023-03-31   31      3  2023        5
26  20230319  2023-03-19   19      3  2023        0
27  20230318  2023-03-18   18      3  2023        6
28  20230323  2023-03-23   23      3  2023        4
29  20230320  2023-03-20   20      3  2023        1
30  20230322  2023-03-22   22      3  2023        3

In [28]:
date_dim.shape

(31, 6)

In [29]:
date_dim.drop_duplicates().shape

(31, 6)

In [35]:
date_dim.isna().sum()

date_id    0
date       0
day        0
month      0
year       0
weekday    0
dtype: int64

In [22]:
station_dim = pd.read_sql_query('SELECT * FROM station_dimension', con=engine)

In [23]:
station_dim

,station_id,external_id,electric_bike_surcharge_waiver,short_name,eightd_has_key_dispenser,name,lat,lon,region_id,capacity,has_kiosk,station_type,rental_methods,legacy_id
0,afd76a0e-ceb8-4d18-a427-b378c4d07a75,afd76a0e-ceb8-4d18-a427-b378c4d07a75,False,4903.09,False,Dock St & Front St,40.702709,71.0,-73.992530,29,True,classic,"KEY,CREDITCARD",4591
1,66dc0bbd-0aca-11e7-82f6-3863bb44ef7c,66dc0bbd-0aca-11e7-82f6-3863bb44ef7c,False,4927.04,False,Front St & Gold St,40.702240,71.0,-73.982578,37,True,classic,"KEY,CREDITCARD",418
2,03872f6b-a522-4c41-a4f2-5d0c41779e7b,03872f6b-a522-4c41-a4f2-5d0c41779e7b,False,4031.05,False,St Marks Ave & Ralph Ave,40.673720,71.0,-73.921990,19,True,classic,"KEY,CREDITCARD",4933
3,bdcbd89b-9ae0-461b-aa1d-7db7ead07400,bdcbd89b-9ae0-461b-aa1d-7db7ead07400,False,4143.04,False,3 Ave & Carroll St,40.677027,71.0,-73.986500,27,True,classic,"KEY,CREDITCARD",3762
4,40eaa69a-d3ab-48fc-b395-b5bdc6a1aa85,40eaa69a-d3ab-48fc-b395-b5bdc6a1aa85,False,6137.04,False,5 St & 51 Ave,40.742374,71.0,-73.956600,21,True,classic,"KEY,CREDITCARD",3608
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1861,66dc36c3-0aca-11e7-82f6-3863bb44ef7c,66dc36c3-0aca-11e7-82f6-3863bb44ef7c,False,6224.05,False,W 20 St & 8 Ave,40.743453,71.0,-74.000040,84,True,classic,"KEY,CREDITCARD",470
1862,66db6cd4-0aca-11e7-82f6-3863bb44ef7c,66db6cd4-0aca-11e7-82f6-3863bb44ef7c,False,5436.09,False,Avenue D & E 3 St,40.720828,71.0,-73.977932,55,True,classic,"KEY,CREDITCARD",302
1863,66dc8527-0aca-11e7-82f6-3863bb44ef7c,66dc8527-0aca-11e7-82f6-3863bb44ef7c,False,6197.02,False,2 Ave & E 31 St,40.742909,71.0,-73.977061,57,True,classic,"KEY,CREDITCARD",528
1864,66dd52c8-0aca-11e7-82f6-3863bb44ef7c,66dd52c8-0aca-11e7-82f6-3863bb44ef7c,False,7207.08,False,W 70 St & Amsterdam Ave,40.777480,71.0,-73.982886,43,True,classic,"KEY,CREDITCARD",3175
1865,e25f8dee-c110-489f-a978-464ac5c84ca2,e25f8dee-c110-489f-a978-464ac5c84ca2,False,4437.09,False,Nevins St & Schermerhorn St,40.687372,71.0,-73.981761,28,True,classic,"KEY,CREDITCARD",4663

In [36]:
station_dim.isna().sum()

station_id                        0
external_id                       0
electric_bike_surcharge_waiver    0
short_name                        0
eightd_has_key_dispenser          0
name                              0
lat                               0
lon                               0
region_id                         0
capacity                          0
has_kiosk                         0
station_type                      0
rental_methods                    0
legacy_id                         0
dtype: int64

In [24]:
station_dim.shape

(1866, 14)

In [25]:
station_dim.drop_duplicates().shape

(1866, 14)

In [31]:
station_information = pd.read_sql_query('SELECT * FROM station_information', con=engine)

In [32]:
station_information

,external_id,station_id,electric_bike_surcharge_waiver,short_name,eightd_has_key_dispenser,name,lat,region_id,lon,capacity,has_kiosk,station_type,rental_methods,legacy_id
0,66de19ab-0aca-11e7-82f6-3863bb44ef7c,66de19ab-0aca-11e7-82f6-3863bb44ef7c,False,3865.05,False,3 St & Prospect Park West,40.668132,71,-73.973638,31,True,classic,"KEY,CREDITCARD",3354
1,66dd26f9-0aca-11e7-82f6-3863bb44ef7c,66dd26f9-0aca-11e7-82f6-3863bb44ef7c,False,6361.03,False,9 St & 44 Rd,40.749660,71,-73.952100,34,True,classic,"KEY,CREDITCARD",3127
2,66dd3e14-0aca-11e7-82f6-3863bb44ef7c,66dd3e14-0aca-11e7-82f6-3863bb44ef7c,False,6801.01,False,E 59 St & Madison Ave,40.763505,71,-73.971092,51,True,classic,"KEY,CREDITCARD",3132
3,0dd71c6d-11ee-4ad4-ba99-36b9ad36112c,0dd71c6d-11ee-4ad4-ba99-36b9ad36112c,False,4023.01,False,St Marks Ave & Thomas S. Boyland St,40.673130,71,-73.913870,21,True,classic,"KEY,CREDITCARD",4942
4,bc9c9006-3d40-400d-8b5c-17f56e6dfcee,bc9c9006-3d40-400d-8b5c-17f56e6dfcee,False,8172.07,False,Amsterdam Ave & W 162 St,40.836180,71,-73.939789,27,True,classic,"KEY,CREDITCARD",4052
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1861,519824e4-69ba-4270-a395-17c204f328f8,519824e4-69ba-4270-a395-17c204f328f8,False,HB603,False,8 St & Washington St,40.745984,311,-74.028199,21,True,classic,"KEY,CREDITCARD",4528
1862,cbc48689-7805-49dd-9669-5471f4b7b6fb,cbc48689-7805-49dd-9669-5471f4b7b6fb,False,HB101,False,Hoboken Terminal - Hudson St & Hudson Pl,40.735938,311,-74.030305,24,True,classic,"KEY,CREDITCARD",4536
1863,66dddd28-0aca-11e7-82f6-3863bb44ef7c,66dddd28-0aca-11e7-82f6-3863bb44ef7c,False,JC084,False,Communipaw & Berry Lane,40.714358,70,-74.066611,14,True,classic,"KEY,CREDITCARD",3277
1864,b6a13f2b-deb4-4f4d-9d67-7d23bee27c88,b6a13f2b-deb4-4f4d-9d67-7d23bee27c88,False,HB608,False,2 St & Park Ave,40.739153,311,-74.033082,15,True,classic,"KEY,CREDITCARD",5064
1865,5aa81a37-ea1d-4bf6-ab40-4751c6b4fb08,5aa81a37-ea1d-4bf6-ab40-4751c6b4fb08,False,JC093,False,Fairmount Ave,40.725726,70,-74.071959,18,True,classic,"KEY,CREDITCARD",3678

In [33]:
station_dim.shape

(1866, 14)

In [34]:
station_dim.drop_duplicates().shape

(1866, 14)

In [37]:
station_dim.isna().sum()

station_id                        0
external_id                       0
electric_bike_surcharge_waiver    0
short_name                        0
eightd_has_key_dispenser          0
name                              0
lat                               0
lon                               0
region_id                         0
capacity                          0
has_kiosk                         0
station_type                      0
rental_methods                    0
legacy_id                         0
dtype: int64